#screen-meta,
#screen-meta-links {
    display: none !important;
}

.dlt-clear {
    clear: both;
}

#wpcontent {
    padding-left: 0;
    padding-right: 0;
}

#digilan-token-activation-wifi4eu-settings,
#digilan-token-container-ap,
#digilan-token-ap-settings,
#digilan-token-form-language-settings,
.digilan-token-activation-required {
    margin-left: 15px;
}

#digilan-token-send-url {
    margin-left: 15px;
}

#dlt-admin {
    margin: 0;
}

.error + #dlt-admin,
.notice + #dlt-admin,
.updated + #dlt-admin {
    margin-top: 30px;
}

#dlt-admin,
#dlt-admin p,
#dlt-admin ul,
#dlt-admin li {
    font-size: 13px;
}

#dlt-admin .dlt-admin-embed-youtube {
    position: relative;
    max-width: 1280px;
    margin-top: 40px;
}

#dlt-admin {
    padding-bottom: 56.25%;
}

#dlt-admin iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#dlt-admin .form-table th em {
    font-weight: normal;
}

#dlt-admin .dlt-admin-header {
    background: #0073aa;
    height: 106px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

#dlt-admin .dlt-admin-header h1 {
    margin: 0 auto 0 0;
    padding: 0;
}

#dlt-admin .dlt-admin-header h1,
#dlt-admin .dlt-admin-header h1 a {
    color: #ffffff;
    font-size: 24px;
    text-decoration: none;
}

#dlt-admin .dlt-admin-header h1 a {
    line-height: 64px;
    vertical-align: top;
}

#dlt-admin .dlt-admin-header a:focus {
    box-shadow: none;
}

#dlt-admin .dlt-admin-header h1 a img {
    margin: 0 10px;
    vertical-align: middle;
}

#dlt-admin .dlt-admin-header a.dlt-admin-header-nav {
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    padding: 20px;
}

#dlt-admin .dlt-admin-nav-bar {
    display: flex;
    background: #ffffff;
    height: 55px;
    border-bottom: 1px solid #dbdbdb;
    padding: 0 10px;
}

#dlt-admin .dlt-admin-nav-bar .dlt-admin-nav-tab {
    padding: 0 20px;
}

#dlt-admin .dlt-admin-nav-bar .dlt-admin-nav-tab {
    line-height: 55px;
    text-decoration: none;
    color: #23282d;
}

#dlt-admin .dlt-admin-nav-bar .dlt-admin-nav-tab:focus {
    box-shadow: none;
}

#dlt-admin .dlt-admin-nav-bar .dlt-admin-nav-tab.dlt-admin-nav-tab-active {
    box-shadow: inset 0 -3px 0 0 #00a0d2;
    color: #000;
    font-weight: bold;
}

#dlt-admin .dlt-admin-sub-nav-bar {
    display: flex;
    height: 40px;
    border-bottom: 1px solid #dddddd;
}

#dlt-admin .dlt-admin-sub-nav-bar .dlt-admin-nav-tab {
    position: relative;
    margin-right: 30px;
    line-height: 40px;
    text-decoration: none;
    color: #23282d;
}

#dlt-admin .dlt-admin-sub-nav-bar .dlt-admin-nav-tab:focus {
    box-shadow: none;
}

#dlt-admin .dlt-admin-sub-nav-bar .dlt-admin-nav-tab.dlt-admin-nav-tab-active {
    box-shadow: inset 0 -3px 0 0 #00a0d2;
    color: #000;
    font-weight: bold;
}

#dlt-admin .dlt-admin-sub-nav-bar .dlt-admin-nav-tab .dlt-pro-badge {
    display: block;
    background: #0073aa;
    border-radius: 3px;
    color: #fff;
    position: absolute;
    right: -20px;
    top: -2px;
    padding: 0 5px;
    line-height: 16px;
    font-size: 10px;
    font-weight: normal;
    text-transform: uppercase;
}

.dlt-dashboard-providers {
    position: relative;
    padding: 15px;
}

.dlt-dashboard-providers .dlt-dashboard-newsletter {
    position: relative;
    float: left;
    width: 340px;
    height: 220px;
    margin: 15px;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    flex-flow: column;
}

.dlt-dashboard-providers .dlt-dashboard-newsletter-content {
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.dlt-dashboard-providers .dlt-dashboard-newsletter-content h2 {
    color: #000000;
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
    font-weight: 600;
}

.dlt-dashboard-providers .dlt-dashboard-newsletter-content input[type="text"] {
    margin: 0 0 13px 0;
    text-align: center;
}

.dlt-dashboard-providers .dlt-dashboard-provider {
    position: relative;
    float: left;
    width: 340px;
    height: 220px;
    margin: 15px;

    display: flex;
    flex-flow: column;
}

.dlt-dashboard-providers .dlt-dashboard-provider-top {
    height: 166px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.dlt-dashboard-providers h2 {
    color: #ffffff;
    font-size: 22px;
    margin: 20px 0 0 0;
    font-weight: 600;
}

.dlt-dashboard-providers .dlt-dashboard-provider-bottom {
    background: #ffffff;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    padding: 0 15px;
    border: 1px solid #dbdbdb;
    border-width: 0 1px 1px 1px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.dlt-dashboard-provider-bottom-state {
    margin-right: auto;
    font-size: 14px;
    color: #23282d;
}

[data-state="not-tested"] .dlt-dashboard-provider-bottom-state {
    color: #0b97c6;
}

[data-state="configured"] .dlt-dashboard-provider-bottom-state {
    color: #187d22;
    font-weight: bold;
}

[data-state="enabled"] .dlt-dashboard-provider-bottom-state {
    color: #46b450;
}

.dlt-dashboard-providers .dlt-dashboard-provider-bottom a + a {
    margin-left: 10px;
}

.dlt-dashboard-provider-sortable-handle {
    position: absolute;
    left: 0;
    top: 0;
    width: 27px;
    height: 34px;
    cursor: move;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAiCAYAAACuoaIwAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA+tpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMTExIDc5LjE1ODMyNSwgMjAxNS8wOS8xMC0wMToxMDoyMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczpkYz0iaHR0cDovL3B1cmwub3JnL2RjL2VsZW1lbnRzLzEuMS8iIHhtbG5zOnhtcE1NPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvbW0vIiB4bWxuczpzdFJlZj0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL3NUeXBlL1Jlc291cmNlUmVmIyIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ0MgMjAxNSAoV2luZG93cykiIHhtcDpDcmVhdGVEYXRlPSIyMDE4LTAxLTE3VDE1OjE4OjM5KzAxOjAwIiB4bXA6TW9kaWZ5RGF0ZT0iMjAxOC0wMS0xN1QxNjoxMTo0MSswMTowMCIgeG1wOk1ldGFkYXRhRGF0ZT0iMjAxOC0wMS0xN1QxNjoxMTo0MSswMTowMCIgZGM6Zm9ybWF0PSJpbWFnZS9wbmciIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6QjhCNkM3MkZGQjk4MTFFN0E4RDJBRUZBQTI4OUVBNzIiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6QjhCNkM3MzBGQjk4MTFFN0E4RDJBRUZBQTI4OUVBNzIiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDpCOEI2QzcyREZCOTgxMUU3QThEMkFFRkFBMjg5RUE3MiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpCOEI2QzcyRUZCOTgxMUU3QThEMkFFRkFBMjg5RUE3MiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/Po8u91EAAABlSURBVHjaYvz//z8DvQATAx3BqGWjlg0ey1iIUKMDxHFQ9iIgvkKkHFk+AxnGD8VxJMhRHIyMZMoRbRkoeD4B8QcgXkiCHKZrRsvG0aQ/mvRHk/5o0h9N+qNJf9SyUcuoCAACDABr5TA7L7qpSQAAAABJRU5ErkJggg==');
}

.dlt-provider-notice {
    position: absolute;
    right: 10px;
    top: 0;
    color: #fff;
    line-height: 32px;
    font-size: 16px;
}

.dlt-admin-notices {
    padding: 30px 30px 0;
}

.dlt-admin-content .dlt-admin-notices {
    padding: 20px 0 0;
}

.dlt-admin-notices > div {
    margin: 5px 0 2px;
}

.dlt-admin-content {
    padding: 10px 30px;
}

.dlt-admin-sub-content {
    padding: 20px 0;
}

.dlt-box {
    max-width: 500px;
    padding: 30px;
    margin: 30px 0;
    background: #ffffff no-repeat 20px 40px;
    border-radius: 5px;
    padding-left: 110px;
}

.dlt-box h2 {
    margin: 10px 0 0 0;
}

.dlt-box p {
    margin: 20px 0 0 0;
}

.dlt-box-yellow {
    border: 3px solid #f9cb4f;
}

.dlt-box-yellow-bg {
    background: #faf7ea no-repeat 20px 40px;
}

.dlt-box-blue {
    border: 3px solid #00a0d2;
    background-image: url('images/test-needed.png');
}

.dlt-box-green {
    border: 3px solid #46b450;
    background-image: url('images/ok.png');
}

.dlt-box-red {
    border: 3px solid #c8463f;
}

.dlt-box-exclamation-mark {
    background-image: url('images/exclamation-mark.png');
}

.dlt-box .button {
    margin-right: 10px;
}

#dlt-test-configuration {
    line-height: 28px;
}

#dlt-test-configuration > * {
    margin-right: 10px;
}

#dlt-test-please-save {
    display: none;
}

#dlt-admin .CodeMirror {
    height: auto;
}

#dlt-admin .CodeMirror-scroll {
    min-height: 100px;
}

#dlt-admin fieldset label {
    vertical-align: top;
}

input[type="radio"] ~ img {
    margin-top: 20px;
    margin-right: 30px;
}

input[type="radio"]:checked ~ img {
    box-shadow: 0 0 0 3px #00a0d2;
    border-radius: 3px;
}

#time-range p {
    font-family: "Arial", sans-serif;
    font-size: 14px;
    color: #333;
}

.schedule-rows td {
    width: 80px;
    height: 10px;
    margin: 2px;
    padding: 1px;
    background-color: #4ef542;
    cursor: pointer;
}

.schedule-rows td:first-child {
    background-color: transparent;
    text-align: right;
    position: relative;
    top: -12px;
}

.schedule-rows td[data-selected],
.schedule-rows td[data-selecting] {
    background-color: #f5424b;
}

.schedule-rows td[data-deselect] {
    background-color: #4ef542;
}

.schedule-rows td[data-disabled] {
    opacity: 0.55;
}

#qrcode-bg-modal {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
}

#qrcode-bg-modal>div {
    height: 350px;
    width: 500px;
    background-color: white;
    text-align: center;
    top: 32%;
    position: relative;
    border-radius: 4px;
}

.form-settings-field-row {
    border: 1px black solid;
    padding: 10px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    gap: 20px;
}

.form-settings-field-row.header {
    cursor: default;
    font-weight: bold;
}

.form-settings-field-row > span {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.edit-form-settings-field-row {
    display: none;
    justify-content: space-between;
    border: 1px black solid;
    border-top: none;
    padding: 10px;
    background-color: #F0F0F1;
    filter: brightness(90%);
    flex-wrap: wrap;
    align-items: center;
}

.edit-form-settings-field-row > div {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.edit-form-settings-field-row > div div {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    flex-wrap: wrap;
    flex-direction: row;
}

.top-row-visible {
    border-bottom: 1px dashed black;
}

.bottom-row-visible {
    display: flex;
}

#form-field-list div.small {
    flex: 1;
}

#form-field-list div.large {
    flex: 2;
}

.delete-in-progress {
    background-color: #ff4949b3;
}

.update-in-progress {
    background-color: #77bdffb3;
}

#copy-shortcode.success {
    background: rgb(56, 131, 73);
    border-color: rgb(56, 131, 73);
}

button.field_type {
    padding: 5px;
    width: 130px;
    border-radius: 5px;
}

button.field_type:hover {
    background-color: #dadada;
    cursor: pointer;
}

button.field_type.selected {
    background-color: #0073aa;
    border-color: #0073aa;
    color: white;
}

#btns-field-type-choice {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.language-flag {
    height: 30px;
    border-radius: 5px;
}

#language_list {
    padding-left: 0px;
    max-height: 350px;
    margin: 0;
    cursor: pointer!important;
}

#language_list img, .btn-select img {
    width: 45px;
}

#language_list li {
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 16px;
    cursor: pointer!important;
    margin: 0;
}

#language_list li:hover {
    background-color: #F4F3F3;
}

#language_list li img {
    margin: 5px;
}

#language_list li span, .btn-select li span {
    margin-left: 15px;
}

/* item list */

.language_list_container {
    display: none;
    width: 100%;
    max-width: 200px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 5px;
    position: absolute;
    background: white;
}

.open {
    display: show !important;
}

.btn-select {
    width: 100%;
    max-width: 350px;
    height: 34px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
}

.btn-select li {
    list-style: none;
    float: left;
    padding-bottom: 0px;
}

.btn-select:hover li {
    margin-left: 0px;
}

.btn-select:hover {
    background-color: #F4F3F3;
    border: 1px solid transparent;
    box-shadow: inset 0 0px 0px 1px #ccc;
}

.btn-select:focus {
    outline: none;
}

.lang-flag-delete {
    position: absolute;
    width: 18px;
    height: 18px;
    line-height: 18px;
    top: -8px;
    right: -5px;
    z-index:9999;
    color: red;
    font-size: 12px;
    font-weight: bold;
    background-color: white;
    border: 0px solid #ffffff;
    border-radius: 50%;
    padding: 0px;
    display: none;
}

.new_field_row {
    display: none;
}
