div.dlt-container>a {
  text-decoration: none !important;
  box-shadow: none !important;
  border: 0;
  box-shadow: none;
}

div.dlt-container-block {
  max-width: 350px;
  background-color: #fff;
  opacity: 0.85;
  border-radius: 15px;
  padding: 20px;
  box-sizing: content-box;
}

div.dlt-container-block>a {
  display: block;
  margin: 10px 0;
}

div.dlt-container-inline {
  margin: -5px;
  text-align: left;
}

div.dlt-container-inline>a {
  margin: 5px;
  display: inline-block;
}

div.dlt-container .dlt-button {
  cursor: pointer;
  vertical-align: top;
  border-radius: 4px;
}

div.dlt-container .dlt-button-default {
  color: #fff;
  display: flex;
  align-items: center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: .25px;
  overflow: hidden;
  text-align: center;
  text-overflow: clip;
  white-space: nowrap;
  flex: 1 1 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div.dlt-container .dlt-button-icon {
  display: inline-block;
}

div.dlt-container .dlt-button-svg-container {
  flex: 0 0 auto;
  padding: 8px;
  display: flex;
}

div.dlt-container span {
  display: inline-block;
}

div.dlt-container svg {
  height: 24px;
  width: 24px;
  vertical-align: top;
}

div.dlt-container .dlt-button-default span.dlt-button-label-container {
  margin: 0 24px 0 12px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  overflow: inherit;
  text-overflow: inherit;
  white-space: inherit;
  flex: inherit;
  text-align: inherit;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
}

div.dlt-container .dlt-button-google[data-skin="dark"] .dlt-button-svg-container {
  margin: 1px;
  padding: 7px;
  border-radius: 3px;
  background: #fff;
}

div.dlt-container .dlt-button-google[data-skin="light"] {
  border-radius: 1px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .25);
  color: RGBA(0, 0, 0, 0.54);
}

#custom-form-portal {
  display: flex;
  flex-direction: column;
  align-items: left;
}

#custom-form-portal select,
#custom-form-portal input[type=text],
#custom-form-portal input[type=number],
#custom-form-portal input[type=email],
#custom-form-portal input[type=tel] {
  flex: 1;
  padding: 10px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  max-width: 350px;
  font-size: small;
}

#custom-form-portal select {
  width: 100%;
  text-align-last: left !important;
}

#custom-form-portal label.input-label {
  margin-top: 10px;
  max-width: 350px;
  width: 100%;
  text-align: left;
}

.language-flag {
  height: 30px;
  border-radius: 5px;
}

#language-list {
  padding-left: 0px;
  max-height: 350px;
  margin: 0;
}

#language-list img, .btn-select img {
  width: 45px;
}

#language-list li {
  padding: 0 10px 0 5px;
  list-style: none;
  text-align: left;
}

#language-list li button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
  display: flex;
  align-items: center;
  font-size: 16px;
  margin: 0;
  cursor: pointer !important;
}

#language-list li.hidden {
  display: none;
}

#language-list li:hover {
  background-color: #F4F3F3;
}

#language-list li img {
  margin: 5px;
}

#language-list li span, .btn-select li span {
  margin-left: 15px;
}

.language-list-container {
  display: none;
  width: fit-content;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 5px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  background: white;
}

.lang-flag-delete {
  position: absolute;
  width: 18px;
  height: 18px;
  line-height: 18px;
  top: -8px;
  right: -5px;
  z-index: 9999;
  color: red;
  font-size: 12px;
  font-weight: bold;
  background-color: white;
  border: 0px solid #ffffff;
  border-radius: 50%;
  padding: 0px;
  display: none;
}

#form-lang-selector {
  border: 0;
  height: 30px;
  width: 60px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  transition: transform .2s;
}

#form-lang-selector:hover {
  transform: scale(1.2)
}
